<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/75b0f6db-eca9-401a-9fbb-55125012ec65/resourceGroups/payments/providers/Microsoft.Web/sites/paymentsApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://paymentsapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>paymentsapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>paymentsApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$paymentsApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>